.WarrantyCard{
    padding: 27px 36px;
    background-color: #fff;
    border: 1px solid #EFE9E5;
    box-shadow: 0px 1px 2px rgba(91, 81, 73, 0.2);
    border-radius: 8px;
    width:100%;
    position: relative;
    display:grid;
    flex-direction: column;
    gap:15px;
}
.WarrantyCard img{
    margin-bottom: 12px;
    width:28px;
    height:36px;
}
.WarrantyCard h3{
    font-size: 24px;
}
.WarrantyCard p{
    font-size: 14px;
    color:#43484C;
}

.WarrantyCard .ButtonContainer{
    align-self: end;
}

@media screen and (max-width:768px){
    .WarrantyCard h3{
        font-size:18px;
    }
}
