.Breadcrumb {
    display: flex;
}

.Breadcrumb li {
    list-style-type: none;
}

.Breadcrumb li+li:before {
    padding: 8px;
    color: #939598;
    content: ">";
}

.Breadcrumb a {
    text-decoration: none;
    color: #939598
}