.Dot{
    backface-visibility: hidden;
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#939598 ;
    transition:width 0.4s, background-color 0.4s;
    -webkit-transition:width 0.4s, background-color 0.4s;
    -moz-transition:width 0.4s, background-color 0.4s;
    -ms-transition:width 0.4s, background-color 0.4s;
    -o-transition:width 0.4s, background-color 0.4s;
    margin:4px;
}

.Dot.selected{
    background-color:#000512;
    width:20px;
    border-radius: 30%;
}
