.containerInput {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
}

.containerInput > fieldset {
  background: transparent;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 8px;
  display: flex;
  position: relative;
  align-items: center;
}

.containerInput > fieldset:has(input:focus) {
  border-color: #ff5500;
}

.containerInput > fieldset > legend {
  color: #ffffff;
  font-size: 14px;
  background: #000512;
  margin: 0;
  padding: 0 4px;
  position: absolute;
  top: -10px;
  left: 10px;
  text-align: left;
  display: flex;
}

.containerInput > fieldset > legend > div:has(svg) {
  cursor: pointer;
  margin: 0 0 0 8px;
}

.containerInput.dark > fieldset > legend > div > svg > path {
  fill: #ffffff;
}

.containerInput > fieldset > input {
  width: auto;
  height: 46px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 8px;
  background: #000512;
  border: none;
  font-weight: 400;
  display: block;
  outline: none;
  flex-grow: 1;
  padding: 0px 16px;
}

.containerInput > fieldset > p {
  display: flex;
  align-items: center;
  border-radius: 0 8px 8px 0;
  padding: 0 16px 0 16px;
  color: #89837f;
  font-size: 12px;
  background: #000512;
}

.containerInput > fieldset > input:focus::placeholder {
  color: #ffffff;
}

.containerInput.disabled > fieldset > input:hover {
  cursor: not-allowed;
}

.containerInput > fieldset > button {
  width: auto;
  height: auto;
  font-size: 12px;
  color: #ffffff;
  padding-right: 16px;
}

.success > fieldset {
  border-color: #008859;
}

.error > fieldset {
  border-color: #b71c1c;
}

.error > p {
  font-size: 13px;
  color: #b71c1c;
  margin: 0px 16px;
}

.errorMessage {
  position: absolute;
  bottom: -2px;
}

.disabled > fieldset {
  border-color: #d9d3cf;
}

.disabled > fieldset:has(input:focus) {
  border-color: none;
}

.containerInput.ligth > fieldset {
  border-color: #89837f;
  color: #89837f;
}
/*fieldset*/ 
.containerInput.ligth > fieldset > legend {
  color: #231d19;
  background: #ffffff;
  font-weight: 700;
}

.containerInput.ligth > fieldset > input {
  color: #231d19;
  background: #ffffff;
}

.containerInput.ligth > fieldset > p {
  color: #89837f;
  background: #ffffff;
}

.containerInput.ligth.error > fieldset {
  border-color: #b71c1c;; /*color borde input*/
}
.containerInput.ligth.error > p {
  font-size: 13px;/*tamañotexto: campo requerido*/
  color: #b71c1c; /*color campo requerido*/
  margin: 0px 16px; /*margen del mensaje campo obliga*/
}
/*objetivos: color(true) margin-?(resolver) */
.asteriscoError { /*asterisco defino el color y tamano de */
  margin-left: 5px;
  color: #b71c1c;
}
